*  {
    margin: 0;
    font-family: sans-serif;
    padding: 0;
}

h1 {
    color: rgb(146, 146, 211);
    font-size: 3rem;
}

header {
    display: flex;
    justify-content: space-between ;
    align-items: center;
    margin: 10px 25px;
}

#lien a {
    margin-right: 25px;
    text-decoration: none;
    color: black;
}

body{
    background-color: white;
}

main {
    background-color: rgb(31, 31, 69);
    display: flex;
    justify-content: center;
}

main div{
    color: white;
    margin: 82px 10px 1px 30px  ;
}

main img {
    margin: 60px 130px 60px 30Px ;
    width: 25%;
    padding: 30px 30px 30px 0px;
} 

main div a {
    color: white;
    background-color: rgb(146, 146, 211);
    padding: 10px;
    margin-top: 25px;
    border-radius: 25px;
    text-decoration: none;
    text-align: center;
    font-size: 0.8rem;
    width: 38%;
}

span {
    color: rgb(75, 75, 245);
}

#text {
    flex-direction: column;
    display: flex;
    align-content: flex-end;
}

#text h1 {
    margin-bottom: 10px;
}

@media all and (max-width: 650px) {
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    header div {
        margin: 18px 0 10px 0;
    }
    main {
        display: flex; 
        flex-direction: column-reverse;
    }
    main img {
        width: 100%;
        margin: 0;
    }
    main div {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}